{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-1">
            <a href="{{ path('profile') }}">
                <i class="fas fa-2x fa-chevron-left"></i>
            </a>
        </div>

        <div class="col-11">
            <h1 class="text-center">Change password</h1>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p class="text-muted">Warning: you will have to log in again with your new credentials after submit.</p>

            <p class="text-right">
                <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
            </p>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}