{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Product index</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>{{ product.description }}</td>
                        <td class="text-right">{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="{{ path('add_to_cart', {'productId': product.id}) }}">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-outline-success" href="{{ path('product_new') }}">Create new</a>
            {% endif %}
        </div>
    </div>
{% endblock %}