{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Articles</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">

            {% for article in articles %}
                <div class="row">
                    <div class="col">
                        <!-- ARTICLE HEADER -->
                        <div class="row">
                            <div class="col">
                                {{ article.createdAt ? article.createdAt|date('d/m/Y, H:i') : '' }} / {{ article.title }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <span>{{ article.author.username }}</span>
                            </div>

                            <div class="col-10">
                                <p>{{ article.content|slice(0, 100) }}...
                                    <a href="{{ path('article_show', {'id': article.id}) }}">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>We don't have any articles yet.</p>
            {% endfor %}
        </div>
    </div>
    {% if not is_granted('ROLE_USER') %}
        <p class="font-weight-bold">Log in to create an article.</p>
    {% else %}
        <a class="btn btn-outline-success" href="{{ path('article_new') }}">Create new</a>
    {% endif %}

{% endblock %}